{{ define "PlansPage" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/fontawesome-free-6.2.1-web/css/fontawesome.css" rel="stylesheet">
    <link href="/fontawesome-free-6.2.1-web/css/brands.css" rel="stylesheet">
    <link href="/fontawesome-free-6.2.1-web/css/solid.css" rel="stylesheet">
    <link href="/fontawesome-free-6.2.1-web/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">

    <title>My Plans</title>
</head>
<body>
    <nav id="nav">
        <div id="navbar">
            <input type="checkbox" id="toggle">
            <i class="fa-solid fa-bars"></i>

            <ul id="menu">
                <li> <a href="/" class="navbar-btn"> Home </a> </li>
                <li> <a href="/profile" class="navbar-btn"> Profile </a> </li>
                <li> <a href="/logout" class="navbar-btn"> Log out </a> </li>
            </ul>
        </div>
    </nav>

    <div class="sticky-separator"></div>


    <header>
        <h2> My Plans </h2>
        <input type="text" id="plan-input" placeholder="Do ...">
        <span onclick="AddPlan()" class="button-add">Add</span>

        <div>
            <input type="datetime-local" id="plan-date">
        </div>
    </header>

    <div style="display: flex; align-items: center; flex-direction: column;">
        <div style="width: 90%;">
            <div class="collapsible" style="display: flex; justify-content: space-between; user-select: none;">
                <span>
                    Filter Plans
                </span>

                <i class="fa-solid fa-chevron-down"></i>
            </div>

            <div class="collapse-content">
                <label> Start </label>
                <input type="date" id="start-date">
    
                <br>
    
                <label> End </label>
                <input type="date" id="end-date">
    
                <br>
    
                <button onclick="applyFilter()" style="padding: 8px 16px; margin-top: 0.5rem;"> Apply filter </button>
            </div>
        </div>
    </div>

    <ul id="plans">
        
        {{ range $val := .Plans }}
        <li class="{{ $val.State }}" data-planid="{{ $val.Id }}">
            <span> &lt;{{ $val.End.Format "2006 Jan 02 - 15:04" }}&gt; - {{ $val.Plan }} </span>
        </li>
        {{ end }}

    </ul>

    
    <footer>
        <div class="fab fab-bottom-left-1 fab-red fab-ctx disabled fab-delete">
            <i class="fa-solid fa-xmark"></i>
        </div>

        <!-- mark as -->
        <div class="fab fab-bottom-left-2 fab-green fab-ctx disabled fab-mark-done">
            <i class="fa-solid fa-chevron-right"></i>
        </div>

        <!-- done -->
        <div class="fab fab-text fab-bottom-1-left-2 fab-green fab-ctx-state state-disabled fab-state-done">
            <i class="fa-solid fa-check"></i>
        </div>

        <!-- cancel -->
        <div class="fab fab-text fab-bottom-2-left-2 fab-green fab-ctx-state state-disabled fab-state-cancel">
            <i class="fa-solid fa-ban"></i>
        </div>

        <!-- in progress -->
        <div class="fab fab-text fab-bottom-3-left-2 fab-green fab-ctx-state state-disabled fab-state-inprogress">
            <i class="fa-solid fa-spinner"></i>
        </div>
        

        <div class="fab fab-bottom-left-3 fab-blue fab-ctx disabled fab-edit">
            <i class="fa-solid fa-pen-to-square"></i>
        </div>


        <!-- <div class="fab fab-bottom-right">
            <i class="fa-solid fa-floppy-disk"></i>
        </div> -->
    </footer>


    <script>
        function applyFilter() {
            const startDate_el = document.getElementById("start-date")
            const endDate_el = document.getElementById("end-date")

            let startDateUnix = (+new Date(startDate_el.value)/1000).toFixed(0)
            let endDateUnix = (+new Date(endDate_el.value)/1000).toFixed(0)

            let query = '/?'
            if (startDateUnix !== 'NaN') {
                query += `start=${startDateUnix}`
            }
            if (endDateUnix !== 'NaN') {
                if (query !== '/?') { query += '&' }
                query += `end=${endDateUnix}`
            }
            
            window.location.href = query
        }
    </script>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
    </script>
    
    <script>
        function AddPlan() {
            const text_el = document.getElementById('plan-input')
            const date_el = document.getElementById('plan-date')

            if (text_el.value === "") {
                alert('You must enter a note')
                return
            }

            let date = new Date(date_el.value)
            date = new Date(date - (date.getTimezoneOffset() * 60 * 1000))
            let unix = (+date/1000).toFixed(0)
            if(unix !== "NaN"){
                
                let query = `/newplan?text=${text_el.value}&expire=${unix}`
                fetch(query, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json'
                    },
                })
                .then(response => response.text())
                .then(text => { console.log(text); location.reload() })
            } else {
                alert('You must select a due date')
            }
        }
    </script>
    <script>
        var ul = document.querySelector("#plans")
        let selectedIndex = -1

        function mark_as_state(state) {
            if (selectedIndex === -1) { return }

            let li = ul.children[selectedIndex]
            let id = li.dataset.planid

            if(confirm(`Mark as ${state}?`)) {
                let query = `/setplanstate?id=${id}&state=${state}`
                fetch(query, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json'
                    },
                })
                .then(response => response.text())
                .then(text => { console.log(text); location.reload() })
            }
        }

        const state_fab_done = document.querySelector(".fab-state-done")
        const state_fab_cancel = document.querySelector(".fab-state-cancel")
        const state_fab_inprogress = document.querySelector(".fab-state-inprogress")

        state_fab_done.addEventListener('click', function(e) {
            mark_as_state('done')
        })
        state_fab_cancel.addEventListener('click', function(e) {
            mark_as_state('cancel')
        })
        state_fab_inprogress.addEventListener('click', function(e) {
            mark_as_state('inprogress')
        })
        
        
        const fab_edit = document.querySelector(".fab-edit")
        const fab_done = document.querySelector(".fab-mark-done")
        const fab_delete = document.querySelector(".fab-delete")

        fab_edit.addEventListener('click', function(e) {
            if (selectedIndex === -1) { return }

            
            let li = ul.children[selectedIndex]
            let id = li.dataset.planid
            
            let newText = prompt("Enter new text", li.children[0].textContent)
            if (newText === "" || newText == undefined || newText == null) { return }

            let query = `/renameplan?id=${id}&newtext=${newText}`
            fetch(query, {
                method: 'GET',
                headers: {
                    'Accept': 'application/json'
                },
            })
            .then(response => response.text())
            .then(text => { console.log(text); location.reload() })
        })

        fab_done.addEventListener('click', function(e) {

            let fabs = document.getElementsByClassName("fab-ctx-state")
            for(fab of fabs) {
                fab.classList.toggle('state-disabled')
            }
        })

        fab_delete.addEventListener('click', function(e) {
            if (selectedIndex === -1) { return }

            
            let li = ul.children[selectedIndex]
            let id = li.dataset.planid

            let query = `/deleteplan?id=${id}`
            if(confirm("Are you sure you want to delete this plan?")) {
                fetch(query, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json'
                    },
                })
                .then(response => response.text())
                .then(text => { console.log(text); location.reload() })
            }
        })

        ul.addEventListener('click', function(e) {
            if (e.target.tagName === 'LI') {
                for (t of Array.from(e.target.parentElement.children)) {
                    t.classList.remove('selected')
                }
                e.target.classList.add('selected')


                let index = Array.from(e.target.parentElement.children).indexOf(e.target)
                let fabs = document.getElementsByClassName("fab-ctx")
                let state_fabs = document.getElementsByClassName("fab-ctx-state")

                if (index === selectedIndex) { // toggled
                    for (fab of fabs) {
                        fab.classList.add("disabled")
                    }
                    for (fab of state_fabs) {
                        fab.classList.add("disabled")
                        fab.classList.add("state-disabled")
                    }
                    selectedIndex = -1
                    e.target.classList.remove('selected')
                } else {
                    for (fab of fabs) {
                        fab.classList.remove("disabled")
                    }
                    for (fab of state_fabs) {
                        fab.classList.remove("disabled")
                    }
                    selectedIndex = index
                }
            }
        }, false)
    </script>
</body>
</html>
{{ end }}